## G20 국가별 최저시급 크롤링, 데이터 저장

In [1]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests

In [2]:
from selenium import webdriver

In [3]:
driver = webdriver.Chrome('C:/ChromeDriver_exe/chromedriver_102.exe')

C:\Users\admin\AppData\Local\Temp\ipykernel_8092\2421840669.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('C:/ChromeDriver_exe/chromedriver_102.exe')

In [4]:
# driver = webdriver.Chrome('C:/chromedriver.exe')

In [5]:
url = 'https://ko.tradingeconomics.com/country-list/minimum-wages?continent=g20'
driver.get(url)
html = driver.page_source

In [6]:
soup = bs(html, 'html.parser')

In [7]:
th = soup.select('div.table-responsive tr th')
th

[<th style="cursor: pointer">국가</th>,
 <th data-heatmap="0" data-heatmap-limit="19" data-sortable="true" style="cursor: pointer">마지막 </th>,
 <th data-sortable="true" style="cursor: pointer">이전 </th>,
 <th class="hidden-xs" style="cursor: pointer">참고</th>,
 <th class="hidden-sm hidden-xs" data-sortable="false"> 단위</th>]

In [8]:
columus = []
for i in range(len(th)) :
    columus.append(th[i].text)
columus

['국가', '마지막 ', '이전 ', '참고', ' 단위']

In [9]:
td = soup.select('div.table-responsive tbody tr td')

In [10]:
df = pd.DataFrame(columns=['국가','이전','현재','단위'])
contry_list =[]
before_list =[]
after_list =[]
unit_list =[]

for i in range(0,len(td),5):
    contry_list.append(td[i].text.strip())
    before_list.append(td[i+2].text.strip())
    after_list.append(td[i+1].text.strip())
    unit_list.append(td[i+4].text.strip())
df['국가'] = contry_list
df['이전'] = before_list
df['현재'] = after_list
df['단위'] = unit_list

In [11]:
df

           국가     이전     현재            단위
0       아르헨티나  45450  47850       ARS / 월
1          호주    773    812       AUD / 주
2         브라질   1212   1212       BRL / 월
3         캐나다     15   15.5      CAD / 시간
4          중국   2590   2590       CNY / 월
5         프랑스   1603   1646       EUR / 월
6          독일  10.45     12      EUR / 시간
7          인도    178    178       INR / 일
8       인도네시아   4.42   4.64  IDR - 백만 / 월
9          일본    902    930      JPY / 시간
10        멕시코    173    173       MXN / 일
11       네덜란드   1725   1756       EUR / 월
12        러시아  13890  15279       RUB / 월
13  남아프리카 공화국  21.69  23.19        ZAR/시간
14       대한민국   8720   9160        원 / 시간
15        스페인   1108   1126       EUR / 월
16         터키   5008   5008       / 월 TRY
17      연합 왕국   8.91    9.5      GBP / 시간
18         미국   7.25   7.25      USD / 시간

In [12]:
df.to_csv('./g20_최저시급_df.csv', index = False)